//fonts

@import url(http://fonts.googleapis.com/css?family=Flamenco|Asap);
$Flamenco: 'Flamenco', cursive;
$Asap: 'Asap', sans-serif;

//colors

$white: #f2f2f2;
$lime: #c6e070;
$green: #91c46c;
$dark-green: #287d7d;
$blue: #1c344d;

//font-size

$s: 1em;
$m: 1.618em;
$xl: 2.618em;
$xxl: 4.236em;
$xxxl: 6.854em;